.searchBox {
  margin-left: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.searchBox input {
  width: 241px;
  height: 38px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  border-color: rgb(206, 212, 218);
  padding: 6px 0px 6px 12px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
}

.searchBox input:active,
.searchBox input:focus {
  box-shadow: none;
  border-color: #7952b3;
  box-shadow: 0 0 0 3px rgb(121 82 179 / 25%);
}

.searchBox input:disabled {
  background-color: rgb(233, 236, 239);
}

.searchBox input:focus-visible {
  outline: none;
}

.searchBox .shortcutBox {
  font-size: 12px;
  border-color: rgb(222, 226, 230);
  border-radius: 2px;
  height: 24px;
  padding: 0px 4px;
  border: 1px solid rgb(206, 212, 218);
  position: relative;
  left: -55px;
  display: flex;
  align-items: center;
}
